/* src/components/TextComponent/TextComponent.css */
.text-component {
  padding: 2rem;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-component-inside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0; /* Adjust margins for better spacing */
  padding: 15px;
  border: 1px solid rgb(1, 1, 10);
  border-radius: 10px;
  background-color: #f9f9f9;
  animation-duration: 2s; /* Duration of the animation */
  animation-timing-function: ease; /* Timing function for the animation */
  animation-fill-mode: both; /* Ensures the element stays in the final state */
}

.text-title {
  font-size: 2.6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.38rem;
  margin-bottom: 20px;
  line-height: 1.6rem;
  white-space: pre-line;
}

.text-content li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  line-height: 1.6rem;
  white-space: pre-line;
}

.text-content b {
  font-weight: bold; /* Ensure bold tags are styled correctly */
}

.image-container {
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-image {
  max-width: 100%; /* Set the maximum width to 100% of the container */
  max-height: 100%; /* Set the maximum height to 100% of the container */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

:root {
  --content-max-width: 1100px; /* Set a max width for content */
}

.content-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 20px; /* Optional padding for better spacing */
}

/* Adjustments for 15-inch monitors (1366px width) */
@media (max-height: 800px) {
  .text-image {
    max-height: 50vh; /* Adjust max height for better responsiveness */
  }

  .text-component {
    margin: 10px 0; /* Adjust margins for better spacing */
    padding: 1.5rem; /* Adjust padding for 15-inch screens */
  }

  .text-title {
    font-size: 2.2rem; /* Adjust font size for readability */
  }

  .text-content {
    font-size: 1.3rem; /* Adjust font size for readability */
  }

  .text-component-inside {
    padding: 10px; /* Adjust padding for 15-inch screens */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .text-component {
    margin: 10px 0; /* Adjust margins for better spacing */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .text-title {
    font-size: 2rem; /* Adjust font size for readability */
  }

  .text-content {
    font-size: 1.2rem; /* Adjust font size for readability */
  }
}

@media (max-width: 320px) {
  .text-title {
    font-size: 24px; /* Adjust font size for very small screens */
  }
}