.cards__item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Ensure it takes full height available */
  }
  
  .cards__item__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%; /* Aspect ratio 3:2, adjust as needed */
    overflow: hidden;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .cards__item__img:hover {
    transform: scale(1.35);
  }
  
  .cards__item__info {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cards__item__text {
    font-size: 18px;
    line-height: 24px;
    color: #252e48;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (max-width: 768px) {
    .cards__item {
      width: 100%; /* Full width on smaller screens */
      height: auto; /* Adjust height for smaller screens */
    }
  }