.blog {
  padding: 2rem;
}

.blog ul {
  list-style: none;
  padding: 0;
}

.blog li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.blog li:hover {
  text-decoration: underline;
}

.blog-post {
  padding: 2rem;
}

.blog-post button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.blog-post-title {
  font-size: 2.6em;
  font-family: Lato, sans-serif;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  border: 1px solid rgb(1, 1, 10);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.collapsed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 2.4em;
  font-family: 'Lato', sans-serif;
}

.expanded {
  white-space: normal;
  font-family: 'Lato', sans-serif;
  font-size: 1.38em;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.6em;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}
