.hero-banner2 .button-container {
    position: absolute;
    bottom: 4%;
    /* Adjust as needed */
    left: 49%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}

.hero-banner2 .btn {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffc107;
    background-color: #0d0d0d;
    /* Change this to your desired button color */
    border: none;
    cursor: pointer;
    border-radius: 10px;
    /* Adjust this value to make the corners more or less rounded */
}

.hero-banner2 .btn:hover {
    background-color: #ff0000;
    /* Change this to your desired hover color */
}

.hero-banner2 .image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full screen height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner2 .background-image {
    position: absolute;
    top: 55%;
    /* Center the image vertically */
    left: 50%;
    /* Center the image horizontally */
    width: 100%;
    /* Maintain aspect ratio */
    height: 100%;
    /* Ensure the image fills the container height */
    transform: translate(-50%, -50%);
    /* Center the image exactly */
    object-fit: cover;
    /* Ensure the image covers the container */
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    /* Mörk overlay för att texten ska synas tydligt */
    padding: 20px;
    border-radius: 10px;
}


.hero-heading {
    font-size: 2.0rem;
    margin-bottom: 20px;
}

.hero-banner2 {

    color: white;
}

h1 {
    text-align: center;
    margin-top: 0px;
}


/* Focus left side on smaller screens */
@media (max-width: 768px) {
    .hero-banner2 .button-container {
        bottom: 4%;
    }
}

@media (max-width: 560px) {


    .hero-banner2 .button-container {
        bottom: 4%;
    }
}

@media (max-width: 450px) {

    .hero-banner2 .button-container {
        bottom: 4%;
    }

}
.offer {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 10px;
}

.offer-title {
    color: #0d0d0d; /* Black */
    font-size: 1.8rem;
    font-weight: bold;
}

.offer-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffc107; /* Gold */
    margin-left: 5px;
}

.offer-text {
    color: #555;
    font-size: 1.2rem;
    margin: 15px 0;
}



.offer-btn {
    background: #ffc107;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.offer-btn:hover {
    background: #e68900;
}
