:root {
  --navbar-height: 80px;
  --navbar-bg: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  --navbar-color: #fff;
  --hover-bg: #fff;
  --hover-color: #242424;
}

.navbar {
  background: var(--navbar-bg);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}

.navbar-logo {
  color: var(--navbar-color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: var(--navbar-height);
}

.nav-links {
  color: var(--navbar-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links:hover {
  border-bottom: 4px solid var(--navbar-color);
  transition: all 0.2s ease-out;
}

.nav-menu.active {
  background: var(--navbar-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

.dropdown-menu {
  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  background: var(--navbar-bg);
  width: 100%;
  z-index: 1;
}

.dropdown-link {
  color: var(--navbar-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

.dropdown-link:hover {
  background: #575757;
}

@media screen and (max-width: 1132px) {
  .navbar-container {
    position: relative;
  }

  .menu-icon {
    color: var(--navbar-color);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: absolute;
    top: var(--navbar-height);
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--navbar-bg);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--hover-bg);
    border-radius: 0;
  }

  .dropdown-menu {
    position: static;
    background: var(--navbar-bg);
  }
}